# JetBrains IDE files
.idea/

# Node.js
node_modules/

# Compiled output
dist/
out/
build/

# Logs and databases
*.log
*.sqlite

# User-specific files
*.iml
.idea/workspace.xml
.idea/misc.xml

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Windows
Thumbs.db
ehthumbs.db

# Linux
lost+found/

# Backup files
*~
*.swp
