@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

$light-purple-back: #F4F4FF;
$main-font: 'Manrope', sans-serif;
$purple-text: #6251DD;
$blue-title-color: #090937;
$blue-title-color-opacity: rgba(9, 9, 55, 0.6);
$body-back: rgba(245, 245, 245, 0.4);